html, body {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    display:table;
}

#main_frame {
    background-color: #929292;
    width:600px;
    height:300px;
    margin: 0 auto;
    text-align:center;
    display:table-cell;
    vertical-align: middle;
}